In [11]:
import pandas as pd

### Store CSV into DataFrame

In [14]:
csv_file = "Resources/yearlyUCR.csv"
ucr_data = pd.read_csv(csv_file)
ucr_data

    state  year  inc_num
0      AK  2011    23510
1      AK  2012    24449
2      AK  2013    25920
3      AK  2014    25018
4      AK  2015    26197
5      AK  2016    30842
6      AL  2011   193358
7      AL  2012   190571
8      AL  2013   182669
9      AL  2014   174814
10     AL  2015   167742
11     AL  2016   169137
12     AR  2011   124603
13     AR  2012   123240
14     AR  2013   120182
15     AR  2014   113700
16     AR  2015   113160
17     AR  2016   114655
18     AZ  2011   256685
19     AZ  2012   259778
20     AZ  2013   250870
21     AZ  2014   239828
22     AZ  2015   235152
23     AZ  2016   239859
24     CA  2011  1128765
25     CA  2012  1210409
26     CA  2013  1173646
27     CA  2014  1100956
28     CA  2015  1191797
29     CA  2016  1176866
..    ...   ...      ...
276    VT  2011    16011
277    VT  2012    16544
278    VT  2013    14657
279    VT  2014    10364
280    VT  2015     9811
281    VT  2016    10556
282    WA  2011   264361
283    WA  2012   274930
284    WA  2013   279362
285    WA  2014   281442
286    WA  2015   269979
287    WA  2016   277095
288    WI  2011   154180
289    WI  2012   157034
290    WI  2013   141812
291    WI  2014   137298
292    WI  2015   131720
293    WI  2016   129627
294    WV  2011    44506
295    WV  2012    50443
296    WV  2013    45586
297    WV  2014    44132
298    WV  2015    45091
299    WV  2016    43915
300    WY  2011    14123
301    WY  2012    14383
302    WY  2013    14021
303    WY  2014    12619
304    WY  2015    12451
305    WY  2016    12891

[306 rows x 3 columns]